.posts {
  margin-top:100px;
}


.feedleft {
display:inline-block;
  width:79%;
}

.feedright {
  width:20%;
  display:inline-block;
  float:right;
  margin-top:73px;
  height:100%;
}

.card {
  border:0;
}

.card-header {
  padding:0;
  margin:0;
}

button {
  width:100px;
  color:black;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;

}

h5 {
  color:white;
}

#gift {
  position:absolute;
  margin-left:20px;
}
