<div *ngFor="let movie of childMovie.results | slice:0:3; let i = index">
  <div *ngIf="childValue[0]">
    <p (click)="clickedMovieSearch(movie.title, movie.artist_name)">{{movie.title}}</p>
  </div>
</div>

<div *ngIf="childValue[1] && type == 'movie'">
    <p>I am watching to {{responses[0]}}<p>
    <label>Username: {{childUser}}</label><br>
    <!-- <input #newUser> -->
    <label>Status:</label>
    <textarea #newStatus></textarea>
    <button class="btn btn-info" (click) = "postMovieSearch(
          childUser,
          newStatus.value);
          newStatus.value='';">post</button>
</div>
