<div *ngFor="let movie of childMovie.results | slice:0:3; let i = index">
  <div *ngIf="childValue[0]">
    <a><li class="clickhover" (click)="clickedMovieSearch(movie.title)" >{{movie.title}}</li></a>

  </div>
</div>

<div *ngIf="childValue[1] && type == 'movie'">
    <p>I am watching {{responses[0]}}<p>

    <label>Username: {{childUser}}</label><br>
    <!-- <input #newUser> -->
    <label>Status:</label>
    <textarea #newStatus></textarea>
    <button class="btn btn-primary" (click) = "postMovieSearch(
          childUser,
          newStatus.value);
          newStatus.value='';" (click)="clickCloseMovie()">post</button>
</div>
