<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">

  </button>




    <ul>
      <li class="nav-item">
        <a class="nav-link" href="#">chaticodus</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="feed">news feed</a>
      </li>
      <li class="nav-item" id="logoutright" *ngIf = "isLoggedIn">
        <a (click)="logout()" class="nav-link" >logout</a>
      </li>
      <li class ="nav-item" *ngIf ="!isLoggedIn">
        <a routerLink="" class="nav-link">login</a>
      </li>

    </ul>
</nav>

<div class="container-fluid">

<router-outlet></router-outlet>

</div>
