<div class="card">
  <div class="card-header">
    <h3><i class="fa fa-film" aria-hidden="true"></i>Movie Search:<a href="https://www.epicodus.com/gift-of-code/" target="_blank" class="gift"><img src="/assets/images/epicodus.png" height=60px></a></h3>

  </div>

  <div class="card-body">

        <input #newTitle>

        <div *ngIf="movies && !noMovies">
          <app-search-movie [childMovie]="movies" [childValue]="values" [childUser]="childUser" (CloseMovie)="CloseMovieSender($event)"></app-search-movie>
        </div>
        <div *ngIf="noMovies">
          <h3>No movie similar with your search</h3>
        </div>
      </div>
      <div class="card-footer">

        <button class="btn btn-primary" (click)="movieForm(newTitle.value);newTitle.value='';">Search</button>

    </div>


</div>
