<div class="card">
  <div class="card-header">
    <h3>Song Search:</h3>
  </div>

  <div class="card-body">

      <input #newTitle>




    <div *ngIf="musics && !noMusics">
      <app-search [childMusic]="musics" [childValue]="values" [childUser]="childUser" (CloseMusic)="CloseMusicSender($event)"></app-search>
    </div>
    <div *ngIf="noMusics">
      <h3>No matches found.  Please try a different search.</h3>
    </div>
  </div>

  <div class="card-footer">
    <button (click)="musicForm(newTitle.value);newTitle.value='';">Search</button>

  </div>
</div>
