.card {
  width: 100%;
  border:0;
  margin-bottom:10px;
  margin-left:15px;
}

.card-header {
  background-color:#d48adb;
  font-family: 'Berlin Bold';
  background-repeat:none;
  background-attachment:fixed;
  color:white;
}

.card-footer {
  border-bottom:0px;
  background-image: url("/assets/images/wallp2.png");
  background-repeat:no-repeat;
  background-attachment: fixed;
  background-size:cover;
}

h2 {
  font-family: 'Berlin Bold';
  color:black;
  font-size:20px;
  text-align:center;
}

h6 {
padding-bottom:5px;
text-align:center;
}

.card-body {
  padding:12.5px;
}

.chatcomponent {
  margin-left:-25px;
  margin-right:10px;
}

input {
  width:100%;
}

button {
  margin-top:5px;
}

.chatmsg {
  margin-bottom: 5px;
  margin-top: 5px;
  font-family: 'Raleway', sans-serif;
}

.fa-comments {
  margin-right:5px;
  color:black;
}
