<div class="chatcomponent">

<div class="card">
  <div class="card-header">
    <h2 class="panel-title">CHAT</h2>
  </div>
  <div class="card-body">

    <form (submit)="postMessage($event)" class="form-group">
      <label>Message:</label>
      <br>
      <input>
      <button type="submit" name="button">Send</button>
    </form>

     </div>

     <div class="card-footer">

     <div class="chatmsg" *ngFor="let chat of chats | async | timestamp:'descending' | slice:0:16; let i = index">
       <h5>{{chat.alias}}:</h5>
       <p>{{chat.message}}</p>
       <hr>
     </div>
   </div>
   <h6>End of Chat</h6>
</div>

</div>
