<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Chat Room</h3>
  </div>
  <div class="panel-body">
    <div>

      <div>
        <label>Enter Your Alias:</label>
        <br>
        <input #newAlias>
      </div>

      <div>
        <label>Enter Message:</label>
        <br>
        <input #newMessage>
      </div>



       <button (click)="submitForm(newAlias.value, newMessage.value);newAlias.value=''; newMessage.value=''">Add</button>
       <br>
       <h3>Chat Log</h3>

       <!-- <select (change)="onChange($event.target.value)">
       <option value="allGenres">All Genres</option>
       <option value="Rock">Rock</option>
       <option value="Pop">Pop</option>
       <option value="Electronic">Electronic</option>
       <option value="Jazz">Jazz</option>
     </select> -->

     <div *ngFor="let chat of chats | async">
       <h5><strong>{{chat.alias}}:</strong> {{chat.message}}</h5>
     </div>

    </div>
  </div>
</div>
