
<div class="sign-up">
  <div class="chaticodusimage">
  <img src="assets/images/chaticodus3.png" width=450px;>
</div>
<div class="signupform">
  <form (submit)="createUser($event)">
    <div class="input ">
      <label>Email:</label><br>
      <input class="form-control" type="email" required>
    </div>
    <div class="input">
      <label>Password <span id="subtext">(at least 6 characters long)</span> :</label><br>
      <input class="form-control" type="password" required>
    </div>
  

    <div class="input">
      <button class="btn btn-primary" type="submit">Create Account</button>
    </div>
  </form>
</div>
