
<div class="sign-up">
  <div class="chaticodusimage">
  <img src="assets/images/chaticodus3.png" width=450px;>
</div>
<div class="signupform">
  <form (submit)="createUser($event)">
    <div class="input">
      <label>EMAIL:</label><br>
      <input type="email" required>
    </div>
    <div class="input">
      <label>PASSWORD (at least 6 characters long):</label><br>
      <input type="password" required>
    </div>
    <div class="input">
      <button type="submit">Create Account</button>
    </div>
  </form>
</div>
