li {
  cursor:pointer;
  text-decoration-color:purple;
  list-style:none;
  color:purple;
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
}

li:hover {
  color: black;
  -webkit-transform: scale(1.01);
  -moz-transform: scale(1.01);
  -o-transform: scale(1.01);
  transform: scale(1.01);
  -webkit-transform-origin: bottom left;
}
