<!-- <div *ngFor="let music of childMusic.data;">
  <div *ngIf="searchValue">
    <p (click)="clickedMusicSearch(music.title, music.artist_name)">{{music.title}} by {{music.artist_name}}</p>
  </div>
</div> -->

<div *ngIf="resultValue && type == 'music'">
    <p>I am listening to {{responses[0]}} by {{responses[1]}}<p>
    <label>Username:</label>
    <input #newUser>
    <label>Status:</label>
    <textarea #newStatus></textarea>
    <button class="btn btn-info" (click) = "postMusicSearch(
          newUser.value,
          newStatus.value);
          newUser.value='';
          newStatus.value='';">post</button>
</div>

<div *ngFor="let movie of childMovie.results | slice:0:3; let i = index">
  <div *ngIf="searchValue">
    <p (click)="clickedMovieSearch(movie.title)">{{movie.title}}</p>
  </div>
</div>

<div *ngIf="resultValue && type == 'movie'">
    <p>I am watching to {{responses[0]}}<p>
    <label>Username:</label>
    <input #newUser>
    <label>Status:</label>
    <textarea #newStatus></textarea>
    <button class="btn btn-info" (click) = "postMovieSearch(
          newUser.value,
          newStatus.value);
          newUser.value='';
          newStatus.value='';">post</button>
</div>
