<div *ngFor="let music of childMusic.data;">
  <div *ngIf="childValue[0]">
    <a><li class="clickhover" (click)="clickedMusicSearch(music.title, music.artist_name)" >{{music.title}} by {{music.artist_name}}</li></a>
  </div>
</div>

<div *ngIf="childValue[1] && type == 'music'">
    <p>I am listening to {{responses[0]}} by {{responses[1]}}<p>
    <label>Username: {{childUser}}</label><br>
    <!-- <input #newUser> -->
    <label>Status:</label><br>
    <textarea #newStatus></textarea><br>
    <button class="btn btn-primary" (click) = "postMusicSearch(
          childUser,
          newStatus.value);
          newStatus.value='';" (click)="clickCloseMusic()">post</button>
</div>
