@font-face {
  font-family: 'Berlin Bold';
  src: url("/assets/fonts/Berlin Bold.ttf");
}

h1 {

}

.card {
  width: 80%;
  border:0;
  margin-bottom:10px;
  margin-left:15px;
}

.card-header {
  background-color:#80aaed;
  font-family: 'Berlin Bold';
  background-repeat:none;
  background-attachment:fixed;
  color:white;
}

.card-body {
  padding:12.5px;
}

.card:hover h3 {
    margin-left:2.5%;
    transition: all .55s ease-in-out;
    margin-right:2.5%;
    font-style:italic;
}

.card:hover  p {
  font-weight:bold;
}


.card-footer {
  background-color:#799ace;
}

h1 {
  color:white;
  font-family: 'Berlin Bold';
}

.fa-user {
  margin-right:20px;
  color:black;
}
