<div class="login">
  <div class="chaticodusimage">
  <img src="assets/images/chaticodus3.png" width=450px;>
</div>


<div class="row columns">
  <!-- <button class="btn" (click)="login()" *ngIf="!(user | async)?.uid">Anonymous Login</button> -->
  <button class="btn" (click)="logout()" *ngIf="(user | async)?.uid">Logout</button>
  <br>

  <!-- <input type="text" id="message" *ngIf="(user | async)?.uid" placeholder="What is it that you do?" (keyup.enter)="Send($event.target.value)" [(ngModel)]="msgVal" /> -->
  <div id="details-container">
      <p *ngFor="let item of items | async">{{item.message}}</p>
  </div>
</div>
<div class="loginform">

  <h3>Log in to existing account:</h3>
  <form (submit)="loginUser($event)">
    <div class="input">
      <label>Email:</label>
      <input class="form-control" type="text">
    </div>
    <div class="input">
      <label>Password:</label>
      <input class="form-control" type="password">
    </div>
    <div class="input">

      <!-- <a routerLink="../feed"><button class="btn" type="submit">Login</button></a> -->
      <!-- <button class="btn" routerLink="../feed" type="submit">Login</button> -->
      <button class="btn btn-primary" type="submit">Login</button>
      <button class="btn btn-primary" routerLink="signup">Create New Account</button>

    </div>
  </form>
</div>
